@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
}

/* h1 {
  margin: 32px 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
} */

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}


